<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="assignment-table">
    <div class="container">
        <nav aria-label="breadcrumb" class="d-flex justify-content-end">
            <ol class="breadcrumb text-capitalize">
                <li class="breadcrumb-item"><a href="dashboard.html">dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">assignment-list</li>
            </ol>
        </nav>
        <table class="table mb-0">
            <thead>
            <tr>
                <th scope="col">Post Date</th>
                <th scope="col">Task</th>
                <th scope="col">Due Date</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-capitalize">
                <td>
                    <span>May Zwei•Jul 8</span>
                </td>
                <td class="align-middle">
                    <span>Student Management System Assignment with SpringDataJPA</span>
                </td>
                <td class="align-middle">
                    <h6 class="mb-0"><span class="badge bg-primary">Due Jul 7, 6:29 PM</span></h6>
                </td>
                <td class="align-middle">
                    <a th:href="@{/assignment-load}" class="text-decoration-none">view assignment</a>
                </td>
            </tr>
            <tr class="text-capitalize">
                <td>
                            <span>May Zwei
                                •
                                Jun 17</span>
                </td>
                <td class="align-middle">
                    <span>Student Management System Assignment with Database</span>
                </td>
                <td class="align-middle">
                    <h6 class="mb-0"><span class="badge bg-success">Due Jun 20, 6:29 PM</span></h6>
                </td>
                <td class="align-middle">
                    <a href="assignment-view.html" class="text-decoration-none">view assignment</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>
</html>